# Byte-compiled / optimized / DLL files
./backend/src/__pycache__/
*.py[cod]

# Environment variables
.env

# Pesky Mac OS files
.DS_Store
.DS_Store?

# Backend virtual environment
./backend/.venv

# VSCode settings
.vscode/